require "grip"
require "clear"
require "yaml"
require "json"

module Application
  class_property env : String = ENV.fetch("CRYSTAL_ENV", "development")
  class Application < Grip::Application
    def routes
    end
  end
  def self.run
    app = Application.new
    app.run
  end
end

Clear::Log.level = ::Log::Severity::Debug if Application.env == "development"

require "./db/init.cr"

require "./**"
