require "clear"

class <%= opts["model_class"] %>
  include Clear::Model

  self.table = "<%= opts["model_table"] %>"

  primary_key

  <%- opts["model_fields"].split("|").reject(&.empty?).each do |f| -%>
  <%- name, type = f.split(":").map(&.underscore) -%>
  <%- type ||= "string" -%>
  column <%=name%> : <%=type == "uuid" ? "UUID" : type.camelcase%>
  <%- end -%>

  timestamps
end
